<div class="container">
  <div class="user-list-item">
    <div class="user-photo">
      <% if @user.photo.present? %>
        <%= image_tag @user.photo %>
      <% else %>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtOqCkEk1bHWlechHBJVOMBkfxoe9vXRO9SH0aTfy8mhNfXVH0DPk0Iu7LEYGg4YlIeAE&usqp=CAU"
          alt="Generic Photo"
        >
      <% end %>
    </div>
    <%= render partial: "shared/user", locals: { user: @user } %>
  </div>
  <div class="user-bio">
    <p class="user-bio-p">Bio</p>
    <%= @user.bio %>
  </div>
  <% @user.recent_posts.each do |post| %>
    <div class="post-info">
      <p>Post #<%= post.id %></p>
      <p><%= link_to post.text, user_post_path(post.author, post.id) %></p>
      <div class="likes-comments">
        <p>Comments:
          <%= post.comments_counter %></p>
        <p>Likes:
          <%= post.likes_counter %></p>
      </div>
    </div>
  <% end %>
  <div class="buttons">
    <%= button_tag(type: 'button', class: 'see-all-posts') do %>
      <%= link_to user_posts_path(@user) do %>
        See all posts
      <% end %>
    <% end %>

    <button class="back-all-users">
      <%= link_to "Back to all users", root_path %>
    </button>
  </div>
</div>
