<div class="posts-container">
  <div class="post-list-item">
    <div class="user-photo">
      <img src="<%= @user.photo %>" alt="user"/>
    </div>
   <%= render partial: "shared/user", locals: { user: @user } %>
  </div>

  <div class="posts">
    <% @posts.each do |post| %>
      <%= link_to user_post_path(@user, post.id), class: 'post-item' do %>
        <div class="post">
          <div>
            <h3><%= post.title %></h3>
            <p><%= post.text.split(" ")[0..80].join(" ") %></p>
          </div>
          <div class="likes-comments">
            <span class="comments">Comments:
              <%= post.comments_counter %>,
            </span>
            <span class="likes">Likes:
              <%= post.likes_counter %></span>
          </div>
        </div>
        <div class="comments-container">
          <% post.five_most_recent_comments.each do |comment| %>
            <div class="comment">
              <span><%= comment.author.name %>:</span>
              <span><%= comment.text %></span>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>

      <%= link_to "Add Post", new_user_post_path(user_id: @user.id), class: "button_post" %>

  </div>

  <% if @posts.empty? %>
    <div class="no_content">
      <p>No posts for this user!</p>
    </div>
  <% end %>

  <div class="buttons">
    <% if @posts.present? %>
      <button class="pagination">
        <%= link_to "Pagination", user_post_path(@user, @posts.first) %>
      </button>
    <% end %>

    <button class="back-all-users">
      <%= link_to "Back to all users", root_path %>
    </button>
  </div>
</div>
